%p (*) Indicates that a field is required to unhide portfolio. If your portfolio is not completed, you can still work while it is hidden.
= semantic_form_for @person do |f|
  = f.inputs name: 'Basics' do
    = f.input :first_name,    required: true
    = f.input :last_name,     required: true
    = f.input :email_address, required: true
    = f.input :github_url,    required: true,  hint: 'Full URL including http://github.com/'
    = f.input :cohort,        required: true,  as: :select, collection: Cohort.all
    = f.input :photo_slug,    required: true,  as: :select, collection: Photo.all
  = f.inputs name: 'Availability' do
    = f.input :hired,         required: false, label: 'I have a Job!'
    = f.input :hired_by,      required: false, as: :string, hint: 'Company and location like \'Bonobos in NYC\''
  = f.inputs name: 'Job Type' do
    = f.input :introduction,  required: true,  hint: 'One to two paragraphs about you. Similar to the opening on your resume. Uses Markdown.'
    = f.input :looking_for,   required: true,  input_html: { class: :brief }, hint: '3-5 bullets about what will make a company stand out to you. Use Markdown unordered lists like \'* TDD\'.'
    = f.input :best_at,       required: true,  input_html: { class: :brief }, hint: '3-5 bullets about what skills are your strongest. Use Markdown unordered lists like \'* Full-Time Pairing\'.'
  = f.inputs name: 'System' do
    = f.input :hidden, hint: 'If checked, your portfolio will not show up on the index listing.'
  = f.submit 'Save'
