%article.preview{data: {class: person.cohort.name, status: person.status, what: 'remote onsite', location: person.locations.names.join(" "), stack: 'full'}}
  %h1
    = link_to person_path(person) do
      = person.full_name
      = image_tag person.image_url

  - if person.hired?
    %p= "#{person.first_name} has joined the team at #{person.hired_by}."
  - else
    = markdown(person.introduction)
  %p= link_to 'read more', person_path(person)
