.layout-wrap
  .mod-text
    = semantic_form_for @person do |f|
      = f.inputs :name => "Basics" do
        = f.input :first_name
        = f.input :last_name
        = f.input :email_address
        = f.input :github_url
      = f.inputs :name => "Job Type" do
        = f.input :looking_for
        = f.input :best_at
      = f.submit 'Save'
