.layout-wrap
  .mod-students

    .main
      %h2 Students

      = render :partial => 'person', :collection => @people

    %aside
      %h3 Filter students

      .section
        %h4 Availability
        %input#onsite{type: 'checkbox', 'data-status' => 'available', value: '1'}
        %label{for: 'onsite'} Available
        %input#remote{type: 'checkbox', 'data-status' => 'hired', value: '1'}
        %label{for: 'remote'} Hired

      .section
        %h4 Class
        - Cohort.all.each do |c|
          %input{type: 'radio', name: 'class', id: "class_#{c.name}", 'data-class' => c.name, value: c.name}
          %label{for: "class_#{c.name}"}= c.name

      .section
        %h4 What
        %input#onsite{type: 'checkbox', 'data-what' => 'onsite', value: '1'}
        %label{for: 'onsite'} On-site
        %input#remote{type: 'checkbox', 'data-what' => 'remote', value: '1'}
        %label{for: 'remote'} Remote

      .section
        %h4 Preferred Location
        - Location.active.each do |location|
          %input{type: 'checkbox', id: "location_#{location.id}", 'data-location' => location.name, value: '1'}
          %label{for: "location_#{location.id}"}= location.name

      -# .section
      -#   %h4 Stack
      -#   %input#fullstack{type: 'radio', name: 'stack', 'data-stack' => 'full', value: '1'}
      -#   %label{for: 'fullstack'} Full-stack
      -#   %input#frontend{type: 'radio', name: 'stack', 'data-stack' => 'front', value: '1'}
      -#   %label{for: 'frontend'} Front-end
      -#   %input#backend{type: 'radio', name: 'stack', 'data-stack' => 'back', value: '1'}
      -#   %label{for: 'backend'} Back-end
      -#
      -# .section
      -#   %h4 Language interest
      -#   - ['Ruby', 'JavaScript', 'Go', 'Objective-C', 'Swift'].each_with_index do |l, i|
      -#     %input{type: 'checkbox', id: "language_#{i}", 'data-language' => l, value: '1'}
      -#     %label{for: "language_#{i}"}= l

      %a{href: '#', class: 'reset'} reset filters
