.layout-wrap
  .mod-students.mod-student

    %aside
      = image_tag @person.image_url

      %ul.links
        %li= link_to @person.email_address, "mailto:#{@person.email_address}"
        %li= link_to 'GitHub Profile', @person.github_url
        - if @person.resume.url
          %li= link_to 'Resume', @person.resume.url

      .section
        %h4 Cohort
        %ul.tags
          %li= @person.cohort.name

      .section
        %h4 What
        %ul.tags
          %li On-site

      .section
        %h4 Preferred Locations
        %ul.tags
          - @person.locations.names.each do |name|
            %li= name

      .section
        %h4 Tech Focus
        %ul.tags
          %li Full-stack

      .section
        %h4 Language Interests
        %ul.tags
          %li Ruby
          %li Go
          %li Swift

    .main
      %h2= @person.full_name

      = markdown(@person.introduction)

      %ul.keywords
        %li
          %h3 Best at
          = markdown(@person.best_at)
        %li
          %h3 Looking for
          = markdown(@person.looking_for)
        %li
          %h3 Preferred locations
          %ul
            - @person.locations.names.each do |name|
              %li= name

      %ul.projects
        - @person.projects.each do |project|
          %li
            %h3= project.title
            .screenshot= image_tag(project.screenshot)
            = markdown(project.description)
            .urls
              %h4 URLs
              %ul.urls
                %li= link_to_if !project.github_url.empty?, 'GitHub Project Page', project.github_url
                %li= link_to_if !project.production_url.empty?, 'Live Production Application', project.production_url
                - unless project.travis_ci_badge_url.empty?
                  %li TravisCI Status: #{image_tag(project.travis_ci_badge_url)}
                - unless project.code_climate_badge_url.empty?
                  %li CodeClimate Status: #{image_tag(project.code_climate_badge_url)}
            .my_focus
              %h4 My Areas of Focus
              = markdown(project.my_focus)
            .finisher
