.layout-wrap
  .mod-students

    %aside
      = image_tag @person.image_url

      %ul.links
        %li= link_to @person.email_address, "mailto:#{@person.email_address}"
        %li= link_to 'GitHub Profile', @person.github_url
        - if @person.resume
          %li= link_to 'Resume', @person.resume.url

      .section
        %h4 Cohort
        %ul.tags
          %li= @person.cohort.name

      .section
        %h4 What
        %ul.tags
          %li On-site

      .section
        %h4 Preferred Locations
        %ul.tags
          %li Akron, OH
          %li Berlin, DE

      .section
        %h4 Tech Focus
        %ul.tags
          %li Full-stack

      .section
        %h4 Language Interests
        %ul.tags
          %li Ruby
          %li Go
          %li Swift

    .main
      %h2= @person.full_name

      = markdown(@person.looking_for)

      %ul.keywords
        %li
          %h3 Best at
          %ul
            %li Test Driven Development
            %li Clean Code
            %li Problem Solving
        %li
          %h3 Looking for
          %ul
            %li Continuous Learning
            %li Consultancy
            %li Great Culture
        %li
          %h3 Preferred locations
          %ul
            %li West Midlands, UK
            %li London, UK
