!!! 5

%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %link{href: '/images/turing.ico', rel: 'icon', type: 'image/ico'}
    %title Turing School of Software & Design - Alumni Portfolios
    %meta{name: 'description', content: 'Ready to hire a new web developer? Our people page is regularly updated with resumes and portfolios from the best new programmers around.'}

    %meta{property: 'og:description', content: "We'll turn you into a professional software developer"}
    %meta{property: 'og:image',       content: 'http://turing.io/images/logo-embed.png'}
    %meta{property: 'og:site_name',   content: 'Turing School of Software & Design'}
    %meta{property: 'og:title',       content: 'Turing School of Software & Design'}
    %meta{property: 'og:type',        content: 'website'}
    %meta{property: 'og:url',         content: 'http://turing.io'}

    = javascript_include_tag 'application'
    = javascript_include_tag 'modernizr'
    = javascript_include_tag '//use.typekit.net/xxm2mvw.js'
    = javascript_include_tag 'analytics'
    = stylesheet_link_tag 'application'
    = #partial '/layouts/facebook_tracking'
    :javascript
      try{Typekit.load();}catch(e){}

  %body{class: 'page_classes'}
    = csrf_meta_tag
    = render 'layouts/header'
    = render 'layouts/alert'
    = yield
    = render 'layouts/footer'
