!!! 5

%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %link{href: '/images/turing.ico', rel: 'icon', type: 'image/ico'}
    %title Turing School of Software & Design - Alumni Portfolios
    %meta{name: 'description', content: 'Ready to hire a new web developer? Our people page is regularly updated with resumes and portfolios from the best new programmers around.'}

    %meta{property: 'og:description', content: "We'll turn you into a professional software developer"}
    %meta{property: 'og:image',       content: 'http://turing.io/images/logo-embed.png'}
    %meta{property: 'og:site_name',   content: 'Turing School of Software & Design'}
    %meta{property: 'og:title',       content: 'Turing School of Software & Design'}
    %meta{property: 'og:type',        content: 'website'}
    %meta{property: 'og:url',         content: 'http://turing.io'}

    = javascript_include_tag 'modernizr'
    = stylesheet_link_tag 'application'
    = javascript_include_tag '//use.typekit.net/xxm2mvw.js'
    = javascript_include_tag 'analytics'
    = #partial '/layouts/facebook_tracking'
    :javascript
      try{Typekit.load();}catch(e){}

  %body{class: 'page_classes'}
    = csrf_meta_tag

    %header.mod-header
      .layout-wrap
        %h1= link_to 'Turing School of Software & Design', '/'

        %nav
          %ul
            - if current_user && current_user.admin?
              %li{class: nav_active('people')}= link_to 'people admin', admin_people_path
            - if logged_in?
              %li{class: nav_active('dashboard')}= link_to 'Dashboard', dashboard_path
              %li{class: nav_active('resume')}=    link_to 'Resume',    new_resume_path
            %li{class: nav_active('portfolios')}= link_to 'All Portfolios', '/'
            %li{class: nav_active('main')}= link_to 'Main Site', 'http://turing.io'
            %li{class: nav_active('contact')}=    link_to 'Contact', 'http://turing.io/contact'
            - if logged_in?
              %li= link_to 'Logout', logout_path

    = yield

    = javascript_include_tag 'application'

    %footer.mod-footer
      %p &copy; Copyright 2015 Turing School of Software &amp; Design, All rights reserved
